$pattern: '/images/agency/bg-pattern.png';
.root1 {
    background: url($pattern) repeat $palette-primary-dark;
    background-size: 10%;
    position: relative;
    color: $palette-common-white;
    padding: spacing(10, 0);
    @include breakpoints-down(xs) {
        text-align: center;
        padding: spacing(3, 0);
    }
    p {
        margin-bottom: $spacing5
    }
    .v-btn.white {
        min-width: 180px;
        font-size: 18px;
        color: $palette-primary-dark !important;
    }
}

.root {
    background: url($pattern) repeat $palette-primary-dark;
    background-size: 10%;
    position: relative;
    color: $palette-common-white;
    padding: spacing(10, 0);
    @include breakpoints-down(xs) {
        text-align: center;
        padding: spacing(3, 0);
    }
    p {
        margin-bottom: $spacing5
    }
    .v-btn.white {
        min-width: 180px;
        font-size: 18px;
        color: $palette-primary-dark !important;
    }
}

.illu-wrap {
    position: static;
    @include breakpoints-down(sm) {
        display: none
    }
}

@mixin title-base {
    font-family: 'Roboto Condensed';
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 64px;
    position: relative;
}

.title-primary {
    .theme--dark & {
        color: $palette-primary-light
    }
    .theme--light & {
        color: $palette-primary-dark
    }
    font-size: 48px;
    line-height: 62px;
    @include title-base;
}